.wrapper {
  font-family: 'Lobster', cursive;
}

header {
  height: 100px;
  background-color: #913D88;
}

.site_nav_list {
    display: flex;
    justify-content: space-around;
}
  .site_nav_list li {
    line-height: 100px;
  }

  .site_nav_list li a {
    text-decoration: none;
    color: #E4F1FE;
    font-size: 25px;
  }

  .logo {
    text-transform: capitalize;
  }

  .burger {
    display: none;
  }

@media screen and (min-width="700px") {
  .burger {
    display: block;
  }
}
